node_modules
dist

# Logs
*.log

# Local env
.env.local

# Temp directories
.temp
.tmp
.cache

.anchor
.DS_Store
target
**/*.rs.bk
test-ledger
.idea
.eslintcache
/.secrets

/circuits/*.ptau
/circuits/*.r1cs
/circuits/*.wasm
/circuits/*.sym
