node_modules
.DS_Store
.idea
.vscode

lib
dist
dist-ssr

coverage
test-results
.pnpm-store
.npmrc
tsconfig.tsbuildinfo

.env
nx-cloud.env
*.local
*.cache
*error.log
*debug.log

# Temp directories
.temp
.tmp
.cache

.anchor
target
docker-target
**/*.rs.bk
test-ledger
.eslintcache
/.secrets
