@mfactory-lab:registry=https://npm.pkg.github.com
registry=https://registry.npmjs.org/
always-auth=false

shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=false
save-workspace-protocol=rolling
link-workspace-packages=false
