// colors
$primary: #23353D;
$dark: #23353D;
$secondary: #455A64;
$yellow: #ffd140;
$orange: #ff8600;
$blue: #075C87;
$negative: #DC3E38;
$green: #007D48;
$light-green: #00B98C;
$gold: #B8951A;
$light-gray: #5a7683;
$light-gray-natural: #F9F9F9;
$light-gray-dim: #A4A4A4;
$light-gray-blue: #E4E7EB;
$light-gray-e1: #e1e1e1;


$holder-container-padding: 20px 26px 30px;

// fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-inter: 'Inter', sans-serif;

// transition
$transition-sidebar: .4s;

// breakpoints
$breakpoint-mlg: 1300px;
$breakpoint-lg: 1173px;
$breakpoint-md: 1024px;
$breakpoint-sm: 900px;
$breakpoint-xs: 650px;
$breakpoint-tn: 450px;
